
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: monospace, monospace;
    background-color: black;
    color: #000;
    font-size: 20px;
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 1rem 1rem;
    min-width: 796px;
}

.navbar {
    background-color: black;
    padding: 0.6rem 0;
    font-size: 0.9rem;
}
#logo {
    color: white;
    text-decoration: none;
     display: block;
     transform: translateX(40%);
    line-height: 1.6rem;
}
#menu {
    display: inline-block;
    vertical-align: middle;
    width: calc(100% - 100px);
    text-align: right;
}
#menu ul {
    list-style: none;
}
.menu-item {
    display: inline-block;
    margin-left: 1rem;
    text-align: right;
    background-color: #ff0000;
    border-radius: 4px;
}
.menu-item a {
    font-weight: bold;
    color: white;
    text-decoration: none;
    display: inline-block;
    background-color: transparent;
    padding: 0.2rem 0.6rem;
    border-radius: 3px;
}
.menu-item a.ativo {
    color: white;
    text-decoration: underline;
}
.menu-item a.personagens {
    background-color: #ff0000;
    color: white !important;
}

#home {
    background-color: black;
    color: white;
    padding: 4rem 0 5rem 0;
}
#txt-destaque {
    display: inline-block;
    vertical-align: top;
    width: 60%;
    letter-spacing: 0.02em;
}

#txt-destaque h1 {
    font-size: 2.8rem;
    line-height: 1.2;
    margin-bottom: 0.7rem;
}
.txt-vermelho {
    color: red;
}
.velozes-furiosos {
    display: block;
    width: 150px;
    text-align: center;
    padding: 8px 16px;
    color: white;
    border: 1px solid red;
    text-decoration: none;
    border-radius: 4px;
    margin-top: 2rem;
}
.img-destaque {
    display: inline-block;
    width: 35%;
    text-align: center;
    vertical-align: middle;
}
.img-destaque img {
    width: 100%;
}







