* {
    padding: 0;
    margin: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    text-align: center;
    background-image: url("./imgs\ \(galeria\)/velozes_e_furiosos_9_pzleEQY.jpg");
    background-repeat: no-repeat;
    font-family: monospace;
}

#cabeçalho {
    background-color: black;
    padding: 50px;
    text-align: right;
}

#cabeçalho h1 {
    text-align: center;
}

table {
    background-color: black;
    width: 80vw;
    padding: 20px;
}

h1 {
    font-size: 64px;
    margin: 10px;
}

td {
    text-align: center;
}

img {
    max-width: 250px;
    min-width: 200px;
    max-height: 150px;
    min-height: 100px;
    margin: 25px;
}

a {
    color: white;
    background-color: red;
    text-decoration: none;
    padding: 5px 10px 5px 10px;
    border-radius: 5px;
    margin: 10px;
    font-weight: bold;
    margin-top: auto;
    font-size: 16px;
}