   
    body{
    background-image: url("./imgs/toretto2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height:  100%;
    font-family: monospace;
    font-size: 20px;
}
h1{
    color: white;
    text-align: center;
}
a {
     color: white;
    background-color: red;
    text-decoration: none;
    padding: 5px 10px 5px 10px;
    border-radius: 5px;
    margin: 10px;
    font-weight: bold;
    margin-top: 20px;
    margin-left: 20px;
    font-size: 16px;
    display: inline-block;
}